<h3><%= link_to trip.name, "trips/#{trip.id}" %></h3>
<p style="font-size: 14px; font-weight: bold"><%= trip.destination_exact %></p>
<p style="margin-top: 8px;"><%= trip.date_start %> - <%= trip.date_end %></p>
