// Specific CSS for your home-page

#the-world {
  color: #22E2EE
}

#main-title {
  font-family: 'Prompt', sans-serif;
  // font-family: 'Covered By Your Grace', cursive;
  // font-family: 'Permanent Marker', cursive;
  // font-family: 'Walter Turncoat', cursive;
  font-size: 64px;
  font-weight: 625;
}

#title-description {
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
