<div id="main-info">
  <h1 id="main-title">Create your own travel map of <span id="the-world">the world <img src="assets/pointer.png" alt=""></span></h1>
  <div id="title-text">
    <p id="title-description">Mercator is a customisable online photo journal that makes a personalised map of the places you’ve visited.</p>
  </div>
  <form id="search-form">
    <input type="search" id="search-bar" name="q" placeholder="Where did you go on your last holiday?">
    <button>Make a map</button>
  </form>
</div>
  <img src="assets/cities_image.png" alt="" id="cities-image">
<div id="circle-large"></div>
<div id="circle-small"></div>


<footer>
</footer>
