<h1 id="main-title">Create your own travel map of <span id="the-world">the world</span></h1>
<p id="title-description">Mercator is a customisable online photo journal that makes a personalised map of the places you’ve visited.</p>
