.navbar-jwr {
  justify-content: space-between;
  background: clear;
}

.navbar-jwr .navbar-collapse {
  flex-grow: 0;
}

.navbar-jwr .navbar-brand img {
  width: 40px;
}

#logo-image {
  height: 48px;
  width: 221px
}

#my-trips-navbar:hover {
    cursor: pointer;
    color: rgba(46, 94, 170, 0.7);
}
